.login{
    height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: 
        linear-gradient(
            rgba(255,255,255,0.4), 
            rgba(255,255,255,0.4)),
            url('https://images.pexels.com/photos/373883/pexels-photo-373883.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    margin-top: -40px;
}

.loginTitle{
    font-size: 50px; 
    margin-bottom: -20px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 370px;
}

.loginForm > label {
    margin: 10px 0;
    font-size: 18px;
    font-weight: normal;
}

.loginInput{
    padding: 15px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: none;
    font-size: 18px;
    color: #999;
}

.loginButton{
    margin-top: 35px;
    cursor: pointer;
    background-color:teal;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}


.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(146, 212, 212);

}

.loginRegisterButton{
    position: absolute;
    top: 100px;
    right: 60px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid teal;
    color: teal;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

.loginRegisterButton:hover{
    color: white;
    background-color: rgb(166, 229, 229);
}