.hero{
    margin-top: 60px;
}

.heroTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}

.heroTitleSm{
    position: absolute;
    top: 18%;
    font-size: 35px;
}

.heroTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.heroImg{
    width: 100%;
    height: 550px;
    margin-top: 80px;
    object-fit: cover;
}