.nav{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px 0;
    z-index: 999;
}

.navbarLeft, .navbarRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarCenter {
    flex: 6;
}

.topImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.topIcon{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.topIcon:hover{
    color: rgb(5, 126, 240);
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItems{
    margin-right: 20px;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
}

.topListItems:hover{
    color: rgb(5, 126, 240);
}

.topSearchIcon{
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
}