.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fbfbfb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}

.sidebarItem > img{
    margin-top: 15px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

.sidebarItem > p{
    padding: 20px 50px;
}

.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}

.sidebarListItems{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebarIcon{
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.sidebarIcon:hover{
    color: rgb(5, 126, 240);
}